.*.sw?
.nfs*
*~

/.claude/settings.local.json
/.env.*local
/.envrc.local
/.netrc
/DevNotes*
/TODO*
/bin/*
/c.out
/go.work*
/data/*
/delta/applied/*
/diff_list_prices
/dist/*
/get_list_prices
/go.work*
/node_modules/*
/parse_booklog
/pkg/linux_amd64/*
/pkg/*.*/
/src/*.*/
/var/*
